<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="GlobalView_UAT">

  <test name="Home Test"  enabled="false">
    <classes>
      <class name="globalview_test.HomeTitle_Test"/>   
    </classes>
  </test>  
  
  <test name= "SignIN Test" enabled="false">
    <classes>
    	<class name="globalview_test.SignIn_test"/>
    </classes> 
  </test><!-- Test -->
 
 <test name= "Broken_links" enabled="false">
    <classes>
    	<class name="globalview_test.Brokenlinks_Test"/>
    </classes> 
  </test><!-- Test -->
 
 <test name= "Registerpage Test" enabled="false">
    <classes>
    	<class name="globalview_test.Register_Test"/>
    </classes> 
  </test>
  
 <test name= "Verifyimage test" enabled="false">
    <classes>
    	<class name="globalview_test.Verifyimagetest"/>
    </classes> 
  </test><!-- Test -->
  
  
   <test name= "Verifyimage test" enabled="true">
    <classes>
    	<class name="globalview_test.HomeLinks_Test"/>
    </classes> 
  </test><!-- Test -->


 </suite>
 

  
